-----BEGIN CERTIFICATE-----
MIIDwzCCAqugAwIBAgIUOWT1FU1yowdFmOa5eHQjWvwRwrQwDQYJKoZIhvcNAQEL
BQAwcTELMAkGA1UEBhMCSUQxEDAOBgNVBAgMB0pha2FydGExGDAWBgNVBAcMD0Nl
bnRyYWwgSmFrYXJ0YTEMMAoGA1UECgwDQk1JMQwwCgYDVQQLDANCTUkxGjAYBgkq
hkiG9w0BCQEWC2JtaUBibWkuY29tMB4XDTIwMDgwNTAxNTA1OFoXDTIxMDgwNTAx
NTA1OFowcTELMAkGA1UEBhMCSUQxEDAOBgNVBAgMB0pha2FydGExGDAWBgNVBAcM
D0NlbnRyYWwgSmFrYXJ0YTEMMAoGA1UECgwDQk1JMQwwCgYDVQQLDANCTUkxGjAY
BgkqhkiG9w0BCQEWC2JtaUBibWkuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8A
MIIBCgKCAQEAsq2qk/nfIQ2TcMEJDk9CghFijVNG22EieL8N5dd6p4uks6uETzEy
bJtM/+MMl5usjcNwPZVg5XcQlm5jWbxkGK6WwN1uLcx0aLXW+1Ts0kvBuOGrYyp3
uSQ0xH0v2IGiF8LjQCOrDVsKGE6ZVIzbrOubnNjTLV74I4YM/u/jXmYiEYoonzh4
oBQOrwrHREaBHKY7faVondDo2I5xayIKSpa8daVZlk1EGz+no4lAZAIN316bE0I2
GpSil9axEykOBNMuHxSQXQnHlsa9jpwE2BMe/lwtT0UT496aVb1tHX8xByAnLHuR
NhAYDJKdLj9M8wYWm7GnqFin0xuORTs8rwIDAQABo1MwUTAdBgNVHQ4EFgQUM1+8
ZnWS5N10oE2Bo29sC1r2xV8wHwYDVR0jBBgwFoAUM1+8ZnWS5N10oE2Bo29sC1r2
xV8wDwYDVR0TAQH/BAUwAwEB/zANBgkqhkiG9w0BAQsFAAOCAQEAsmz8TTGL3gdF
6OimQh3oBuOljg1Xhy8Ocuc+KTpZpcuCpfwALYChq68foosZXPRhOw8JJpdsGDoB
iKOEC4fDFgNvPuloO5vlCIso7o5E7KXmUv0r8HW5QYCbX8TJw3QR/Esy3trpZxbv
xB+qqfjinTEAWYmwujgDWub9vemPxHxTamrI538JR0uy4Q3bTobANsqqZUNvL1SL
pcCLj74KO9j1wEg9sznjcLD+VVNBi6187BsOPoiQm9chcgbAKxvUkDKcGNG3na0U
+/rZvt/acwK69NadLYddXCiej+JZ2H2b7e5n/b5Fp1i0Tps6DDsaHZVx7JygWvrW
xxNfzlq15w==
-----END CERTIFICATE-----
